@use "../global/" as *;

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 3rem 4rem;
  z-index: 200;
  transition: all 0.3s;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__icons {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    color: $white;
    font-size: 1.8rem;

    i {
      cursor: pointer;
    }
  }

  img {
    width: 6rem;
    cursor: pointer;
  }
}

.navFixed {
  @extend nav;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  position: fixed;
}

.nav-black {
  i {
    color: $black !important;
  }

  img {
    filter: invert(1);
  }
}
